service vendor.graphics.allocator.minigbm_upstream /vendor/bin/hw/android.hardware.graphics.allocator-service.minigbm_upstream
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
